/* blue = #4484ce;
   drk blue = #50667F;
   grey = #d9d9d9;
   yellow = #f9cf00;
   orange = #f19f4d; 

*/
body{
    background: #F5F5F5;
    
}

nav{
    background-color: #4484ce; 
}

.navbar-brand{
    color:#f9cf00;
}

.carousel-inner {
    min-height: 750px;
}

h6{
    color:#999999;
}
.form-check{
    padding-left:2.25rem;
}
.active{
color:white;
}

h4 {
    color:  #4484ce; 
}

h2{
    color: #f9cf00;
}

label{
    color: #999999;
}

.btn-info{
    border: none;
    box-shadow: 1px 2px #888888;
}
.btn-danger{
    border: none;
    box-shadow: 1px 2px #888888;
}
.btn-warning{
    color:white;
    background-color:#f9cf00 !important; 
    margin-top:0px; 
    border: none;
    box-shadow: 1px 2px #888888;
}
.btn-info{
    color:white;
    border: none;
    box-shadow: 1px 2px #50667F;
}

.lead{
    color:  #4484ce; 
    margin-top: 3px;
}

a {
    color: inherit;
    text-decoration:none !important;
}

.text-muted{
    color:  #f9cf00  !important;
}

.text-success{
    color:  white !important;
}

.bg-light{
    background-color: #f9cf00 !important; 
}

.badge-secondary { 
    background-color:#f9cf00;
}

.text-sucess{
    background-color: #999999;
}

#spacer{
    height:300px;
}

footer{
    background-color: #4484ce;
    height: 100px;
}

.my-5 {
    margin-bottom: 0!important;
}

.mb-1 {
    padding: 0px;
    color:#f9cf00;
}

@media only screen and (max-width: 767px) {
    body {
      background-color: #4484ce;
    }
    label{
        color: #ffffff;
    }
    .lead{
        color:  #ffffff;
        margin-top: 3px;
    }
    .btn-info{
        border: none;
        box-shadow: 1px 2px #50667F;
    }
    .btn-danger{
        border: none;
        box-shadow: 1px 2px #ffffff;
    }
  }


  
@media print {
  @page { 
    margin: 0; 
    size: A4;
   }
  body  { margin: 1.6cm; }
}
