/* blue = #4484ce;
   grey = #d9d9d9;
   yellow = #f9cf00;
   orange = #f19f4d; 
*/
body{
    background: #F5F5F5;
}
nav{
    background-color: #4484ce; 
}
.navbar-brand{
    color:#f9cf00;
}

h6{
    color:#999999;
}
.active{
color:white;
}
h4 {
    color:  #4484ce; 
}
h2{
    color: #f9cf00;
}
label{
    color: #999999;
}
.btn-warning{
color:white;
background-color:#f9cf00 !important; 
}
.lead{
color:  #4484ce; 
margin-top: 3px;
}
a {
    color: inherit;
    text-decoration:none;
}
.text-muted{
    color:  #f9cf00  !important;
}
.text-success{
    color:  white !important;
}
.bg-light{
    background-color: #f9cf00 !important; 
}
.badge-secondary { 
    background-color:#f9cf00;
}
.text-sucess{
    background-color: #999999;
}
#spacer{
height:300px;
}
footer{
background-color: #4484ce;
height: 80px;
}
.my-5 {
    margin-bottom: 0!important;
}
.mb-1 {
    padding: 0px;
    color:#f9cf00;
}